/* Header */
header {
    text-align: center;
    padding: 25px;
    color: white;
    background: linear-gradient(to right, #5f9ea0, #4682b4);
    font-size: 1.6rem;
    font-weight: bold;
}

/* Background */
body {
    margin: 0;
    background-color: pink;
    font-family: Arial, sans-serif;
}

/* Center Login Box */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* Login Card */
.login-box {
    background: #ffd2df;
    padding: 35px;
    width: 330px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

/* Inputs */
.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 12px;
    background: #4682b4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.login-box button:hover {
    background: #35658a;
}

/* Footer */
footer {
    text-align: center;
    background-color: #4682b4;
    color: white;
    padding: 12px;
    position: relative;
}
