body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: pink;
}

header {
  text-align: center;
  padding: 20px;
  color: white;
  background: linear-gradient(to right, #5f9ea0, #4682b4);
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #444;
  background-color: #f0f0f0;
}

nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  background-color: #ddd;
}

nav ul li ul li:nth-child(1) a:hover {
  background-color: #ff6347;
  color: white;
}

nav ul li ul li:nth-child(2) a:hover {
  background-color: #b565a7;
  color: white;
}

nav ul li ul li:nth-child(3) a:hover {
  background-color: #ffa500;
  color: white;
}

.intro {
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
}

.hero-img {
  width: 50%;
  max-height: 50%;
  object-fit: cover;
  border-top: 3px solid #444;
  border-bottom: 3px solid #444;
  display: block;
}

footer {
  text-align: center;
  background-color: #4682b4;
  color: white;
  padding: 10px;
}
